<div class="background"></div>
<div class="left"></div>
<div class="right"></div>
<div class="bottom"></div>

<div class="d-flex h-100 w-100 justify-content-center align-items-center">
    <div class="card">
        <div class="text-center Nunito600 fs-22 mb-5 ">Forget Password</div>
        <div class="text-center Nunito400">Enter your email for the verification process.</div>
        <div class="text-center Nunito400 ">We will send 4 digits code to your email.</div>
        <form action="" class="d-flex flex-column w-100  justify-content-between">

            <input class="my-5" type="email" placeholder="Email" style="width: 300px;">

            <button mat-raised-button>Log in</button>

        </form>
        
        
        
    </div>
</div>