<div class="">
    <div class="py-3 search" >
        <div class="searchbar">
            <input type="text" ><i class="ri-search-line fs-18"></i>
        </div>
    </div>
    <div class="search py-3">
        <div class="icon"><i class="ri-dashboard-line"></i></div>
        <div class="icon"><i class="ri-calendar-todo-fill"></i></div>
        <div class="icon"><i class="ri-user-3-line"></i></div>
        <div class="icon"><i class="ri-phone-find-line"></i></div>
        <div class="icon"><i class="ri-chat-download-line"></i></div>
        <div class="icon"><i class="ri-car-line"></i></div>
        <div class="icon"><i class="ri-settings-4-line"></i></div>
        <div class="icon"><i class="ri-newspaper-line"></i></div>
        <div class="icon"><i class="ri-notification-badge-line"></i></div>



    </div>
</div>