<div id="header">
    <p class="title">Tours</p>
    <button routerLink="add">
        <i class="fa-solid fa-plus"></i>
        Add Tour
    </button>
</div>
<div id="tours">
  <div id="tour">
    <img src="https://i.pravatar.cc/300" alt=""  routerLink=":id" />
    <div class="h1">
      <p>2 Days - 1 Night</p>
      <b>$300</b>
    </div>
    <h6>Jaipur to Delhi taxi</h6>
    <ul>
      <li>A Journey into the nature</li>
      <li>No. of stoppage : 4</li>
    </ul>
    <div class="editCont">
      <i class="fa-regular fa-circle-stop"></i>
      <i class="fa-regular fa-pen-to-square" routerLink="edit/:id"></i>
      <i class="fa-solid fa-trash" style="color: red" uk-toggle="target: #delete-modal"  ></i>
      
    </div>
  </div>
  <div id="tour">
    <img src="https://i.pravatar.cc/300" alt="" />
    <div class="h1">
      <p>2 Days - 1 Night</p>
      <b>$300</b>
    </div>
    <h6>Jaipur to Delhi taxi</h6>
    <ul>
      <li>A Journey into the nature</li>
      <li>No. of stoppage : 4</li>
    </ul>
    <div class="editCont">
      <i class="fa-regular fa-circle-stop"></i>
      <i class="fa-regular fa-pen-to-square"></i>
      <i class="fa-solid fa-trash" style="color: red"></i>
    </div>
  </div>
  <div id="tour">
    <img src="https://i.pravatar.cc/300" alt="" />
    <div class="h1">
      <p>2 Days - 1 Night</p>
      <b>$300</b>
    </div>
    <h6>Jaipur to Delhi taxi</h6>
    <ul>
      <li>A Journey into the nature</li>
      <li>No. of stoppage : 4</li>
    </ul>
    <div class="editCont">
      <i class="fa-regular fa-circle-stop"></i>
      <i class="fa-regular fa-pen-to-square"></i>
      <i class="fa-solid fa-trash" style="color: red"></i>
    </div>
  </div>
  <div id="tour">
    <img src="https://i.pravatar.cc/300" alt="" />
    <div class="h1">
      <p>2 Days - 1 Night</p>
      <b>$300</b>
    </div>
    <h6>Jaipur to Delhi taxi</h6>
    <ul>
      <li>A Journey into the nature</li>
      <li>No. of stoppage : 4</li>
    </ul>
    <div class="editCont">
      <i class="fa-regular fa-circle-stop"></i>
      <i class="fa-regular fa-pen-to-square"></i>
      <i class="fa-solid fa-trash" style="color: red"></i>
    </div>
  </div>
  <div id="tour">
    <img src="https://i.pravatar.cc/300" alt="" />
    <div class="h1">
      <p>2 Days - 1 Night</p>
      <b>$300</b>
    </div>
    <h6>Jaipur to Delhi taxi</h6>
    <ul>
      <li>A Journey into the nature</li>
      <li>No. of stoppage : 4</li>
    </ul>
    <div class="editCont">
      <i class="fa-regular fa-circle-stop"></i>
      <i class="fa-regular fa-pen-to-square"></i>
      <i class="fa-solid fa-trash" style="color: red"></i>
    </div>
  </div>
</div>
<app-delete-modal></app-delete-modal>
