<div id="header">
    <div class="chart">
        <canvas id="barChart" height="100%" width="200%" ></canvas>
    </div>
    <div class="cards">
        <div class="card">
            <i class="fa-solid fa-calendar-days"></i>
            <h4>₹ 22,200

                <p>Total No Of Bookings</p>
            </h4>
        </div>
        <div class="card">
            <i class="fa-solid fa-arrow-trend-up"></i>   
            <h4>₹ 22,200

                <p>Total No Of Sales</p>
            </h4>
        </div>
        <div class="card">
            <i class="fa-solid fa-user"></i> 
            <h4>₹ 22,200

                <p>Total No Of Users</p>
            </h4>
        </div>
    </div>
</div>
<div class="bookings">
    <table>
        <thead>
          
          <tr class="head11">
            <th width="10%">Customer</th>
            <th width="15%">Booking Date</th>
            <th width="10%">Contact No.</th>
            <th width="10%">Payment Status</th>
            <th width="10%">Total Cost</th>
            <th width="15%">Service Type</th>
            <th width="10%">Locations</th>
            <th width="20%">Action</th>
          </tr>
          
        </thead>
        <tbody>
  
         
          <tr >
            <td width="10%" data-label="Customer ">Gaurav Arora</td>
            <td width="15%" data-label="Booking Date">12 April 2023</td>
            <td width="10%" data-label="Contact No.">
                Booking Date
            </td>
            <td width="10%" data-label="Payment Status">
                50% Recieved
            </td>
            <td width="10%" data-label="Total Cost">
              <button class="date">37,000</button>
            </td>
            <td width="15%" data-label="Service Type">
                <button class="access">Outstation</button>
            </td>
           
            <td width="10%" data-label="location">
                Jpr - Uda
          </td>
            <td width="20%" data-label="Action">
              <i
              class="ri-pencil-line"
              style="
              color: rgb(88, 88, 88);
                cursor: pointer;
                margin: 0 0.3rem;
                font-size: 1.5rem;
                "
                ></i>
                <i
              class="ri-delete-bin-5-line"
              style="
              color: red;
              cursor: pointer;
              margin: 0 0.3rem;
                font-size: 1.5rem;
                "
              uk-toggle="target: #deleteUser"
              ></i>
              <button class="info">
                  More Info
              </button>
           
            </td>
          </tr>
          <tr >
            <td width="10%" data-label="Customer ">Gaurav Arora</td>
            <td width="15%" data-label="Booking Date">12 April 2023</td>
            <td width="10%" data-label="Contact No.">
                Booking Date
            </td>
            <td width="10%" data-label="Payment Status">
                50% Recieved
            </td>
            <td width="10%" data-label="Total Cost">
              <button class="date">37,000</button>
            </td>
            <td width="15%" data-label="Service Type">
                <button class="access">Outstation</button>
            </td>
           
            <td width="10%" data-label="location">
                Jpr - Uda
          </td>
            <td width="20%" data-label="Action">
              <i
              class="ri-pencil-line"
              style="
              color: rgb(88, 88, 88);
                cursor: pointer;
                margin: 0 0.3rem;
                font-size: 1.5rem;
                "
                ></i>
                <i
              class="ri-delete-bin-5-line"
              style="
              color: red;
              cursor: pointer;
              margin: 0 0.3rem;
                font-size: 1.5rem;
                "
              uk-toggle="target: #deleteUser"
              ></i>
              <button class="info">
                  More Info
              </button>
           
            </td>
          </tr>
        </tbody>
      </table>
</div>