<div id="add_Edit_tour">
    <p>Edit Tour</p>
    <form>

<div class="img_box">
    <img src="assets/images/Rectangle 1.png" alt="">
   <div class="images">
    <img src="assets/images/Rectangle 1.png" alt="">
    <img src="assets/images/Rectangle 1.png" alt="">
    <img src="assets/images/Rectangle 1.png" alt="">
   </div>
   <div class="uplod">
    <button>Upload Image</button>
    Or Drag And Drop
   </div>
</div>

<div id="tourForm">
<input type="text" placeholder="Tour Name">
<input type="text" placeholder="Tour Price">
<textarea name="aboutTour"  placeholder="About Tour" cols="30" rows="10"></textarea>
<input type="text" placeholder="No. of Days">
<input type="text" placeholder="No. of Nights">
<input type="number" placeholder="No. of Stoppage">
<input type="text" placeholder="Start Location 1">
<input type="text" placeholder="Stop Location 1">
<input type="text" placeholder="Start Location 2">
<input type="text" placeholder="Stop Location 2">

</div>
<b class="headingText">Itinerary</b>
<br>
<div class="itinerary">
    <label class="label"  >Day 1</label> 
    <input type="number" placeholder="Location Name">
    <select name="" id="" placeholder="Service">
        <option value="">Select</option>
        <option value="">Select</option>
        <option value="">Select</option>
    </select>
    <textarea name="aboutTour"  placeholder="Description" cols="30" rows="10"></textarea>

</div>
<div class="itinerary">
    <label class="label"  >Day 2</label> 
    <input type="number" placeholder="Location Name">
    <select name="" id="" placeholder="Service">
        <option value="">Select</option>
        <option value="">Select</option>
        <option value="">Select</option>
    </select>
    <textarea name="aboutTour"  placeholder="Description" cols="30" rows="10"></textarea>

</div>
<button class="addMore">Add More 
    <i class="fa fa-plus" aria-hidden="true"></i>
</button>
<b class="headingText">Detailed Tour Price</b>

<div id="tourForm">

    <select name="" id="" placeholder="Room Type">
        <option value="">Select</option>
        <option value="">Select</option>
        <option value="">Select</option>
    </select>
    <input type="text" placeholder="Basic Price">
</div>
<button class="addMore">Add More 
    <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<button class="save">Save</button>
    </form>
</div>
