<app-header></app-header>

<div class="container">
    <div class="d-flex justify-content-between align-items-center py-5">

        <div class="d-flex align-items-center">
            <div class="Nunito600 fs-20">Notifications</div>
            <div class="d-flex Nunito500 fs-20 ms-3">(12)</div>
        </div>
        <div class="d-flex align-items-center">
            <button class="mx-2 button d-flex justify-content-between align-items-center">
                <i class="ri-bookmark-line"></i>
                <span class="ms-2">Mark All as Read</span>
            </button>
            <button class="mx-2 button d-flex justify-content-between align-items-center">
                <i class="ri-delete-bin-2-line"></i>
                <span class="ms-2">Clear All</span>
            </button>
        </div>


    </div>

    <div class="card d-flex justify-content-between align-items-center p-4">
        <div class="d-flex align-items-center">
            <i class="ri-exchange-funds-fill icon56"></i>
            <div class="Nunito400 fs-21 ms-3">Payment Failed</div>
        </div>
        <div>
            <i class="ri-delete-bin-line icon36 t-red"></i>
        </div>
    </div>

    <div class="card d-flex justify-content-between align-items-center p-4 mt-4">
        <div class="d-flex align-items-center">
            <i class="ri-exchange-funds-fill icon56"></i>
            <div>
                <div class="Nunito400 fs-21 ms-3">Gaurav Arora</div>
                <div class="Nunito400 fs-13 ms-3 mt-1">Booking Cancelled</div>

            </div>

        </div>
        <div>
            <i class="ri-delete-bin-line icon36 t-red"></i>
        </div>
    </div>
</div>